{% extends "layout.html" %}
{% block title %}Digestif{% endblock %}

{% block head %}
{% endblock %}
{% block body %}
<div class="text">
<h2>About</h2>

<p>Digestif converts your photostream into an email digest. Your friends and
family subscribe and decide how frequently they want digests delivered. That
way, when you post new photographs your friends and family are notified on their
terms.</p>
</div>

<div class="photo"><a href="http://digestif.me/digest/Lk"><img src="/static/digestif-mail.jpg"/></a></div>

<div class="text">
<h3>How does this work?</h3>

<p>You connect your Flickr or Instagram account to Digestif via
the <a href="/">frontpage</a>. Digestif generates a sign-up page you
can share with your friends and family. Every day Digestif checks your
photostream for new photographs. Digestif sends email digests of your
photographs to your friends and family according to their preferred
delivery rate.</p>

<h3>Which photographs are sent?</h3>
<p>All photographs that are marked public, friends, or family. Private
photographs are never sent.</p>

<h3>Why?</strong></h3>
<p>When our son, Henry, was born we wanted to share photographs with
our friends and family. There are so many ways to share your
photographs online but none of them are simple.</p>

<ul><li>Facebook forces everyone to be a member of their walled
garden.</li>
<li>Instagram. You have to pester your friends and family to download an app and
register.</li>
<li>Flickr is great! But notification of new photographs is tricky.</li>
<li>Apple Photostream. Pretty good, if you all own Apple devices.</li>
</ul>

<p>A lot of people resort to sending emails with attachments which is
universal. But now you have to spam your friends and
family. Grand-parents may want photos every day but your brother only
wants to see photos once a month. Managing this is a pain. So we
created Digestif.</p>

<h3>Who is behind this?</h3>
<p><a href="http://jamesclarke.net">James Clarke</a> is building this during
Henry's naps at the weekend.</p>
</div>
{% endblock %}
