{% extends "layout.html" %}
{% block title %}About // Digestif: photographs by email{% endblock %}

{% block head %}
{% endblock %}
{% block body %}
<div class="text">
<h2>About</h2>

<p>Digestif converts your photostream into an email digest. Your friends and
family subscribe and decide how frequently they want photographs delivered. That
way, when you post new photographs your friends and family receive them on their
terms. No more large attachments or spamming everyone with endless emails.</p>

<p>Still don't get it? <a href="http://digestif.me/digest/Lk">Click here to see a sample digest</a>.</p>
</div>

<div class="photo"><a href="http://digestif.me/digest/Lk"><img src="/static/digestif-mail.jpg"/></a></div>

<div class="text">
<h3>How does this work?</h3>

<p>Connect your Flickr or Instagram account to Digestif via
the <a href="/">frontpage</a>. Digestif generates a sign-up page which you share
with friends and family. Every day Digestif checks for new photographs and sends
email digests of your photographs to your friends and family according to their
delivery rate.</p>

<h3>How often are digests delivered?</h3>
<p>When you subscribe to a Digestif you can select to have photographs
delivered: daily, every two days, every three days, weekly, biweekly, or
monthly (when there are new photographs).</p>

<h3>Which photographs are sent?</h3>
<p>All photographs that are marked public, friends, or family. Private
photographs are never sent.</p>

<h3>Why?</strong></h3>

<p>When my son Henry was born I wanted a way to share photographs with friends
and family that didn't involve them <a href="http://www.facebook.com">signing up
for closed services</a>, <a href="http://instagram.com">installing apps</a>,
or <a href="http://www.apple.com/icloud/features/photo-stream.html">buying
luxury gadgets</a>. Email is universal but attachments are bad and limit how
many photographs you can send at once. Also Henry's grand-parents may want
photographs as often as possible but more distant friends only every month. So I
created Digestif.</p>


<h3>Who is behind this?</h3>
<p><a href="http://jamesclarke.net">James Clarke</a> is building this during
Henry's less and less frequent naps. Send feedback, comments, criticisms, and
bug reports
to <a href="mailto:james@jamesclarke.net">james@jamesclarke.net</a>. We use
Entypo pictograms by Daniel Bruce.</p>
</div>
{% endblock %}
