{% extends "layout.html" %}
{% block title %}{{ stream|stream2name }} // Digestif{% endblock %}

{% block head %}
<meta property="og:url" content="http://digestif.me/digest/{{ digest_encoded }}"/>
<meta property="og:image" content="{{ entries[0]|imgurl }}"/>
<meta property="og:title" content="{{ entries|length }} photographs by {{ stream|stream2name }}"/>
<meta property="og:description" content="Digestif is a simple way to create and share photographs by email. Subscribe to future photo digests or create your own."
<meta property="og:site_name" content="Digestif" />
<meta name="twitter:card" content="summary_large_image" />
{% endblock %}

{% block body %}
<div class="text">
<p>You are viewing a digest of photographs by <a href="{{ stream.remote_url() }}">{{ stream|stream2name }}</a>.</p>
<p><a href="{{ stream.subscribe_url() }}">Subscribe</a> to receive future digests via email.</p>
</div>

{% for entry in entries %}
  <div class="image">
    <div class="text dateline"><p>{{entry.date_taken|datetime}}</p></div>
    <div class="photo">
      {% if entry.video %}
      <video width="800" poster="{{ entry|imgurl }}" controls>
        <source src="{{ entry|videosrc }}" type="video/mp4" />
        <a href="{{ entry|permalink(digest_encoded=digest_encoded) }}"><img src="/static/play.png" /></a>
      </video>
      {% else %}
      <a href="{{ entry|permalink(digest_encoded=digest_encoded) }}"><img src="{{ entry|imgurl }}" /></a>
      {% endif %}
    </div>
    <div class="text caption">
      {% if entry.title %}
        <h3>{{ entry.title|safe }}</h3>
      {% endif %}
      {% if entry.description %}
        <p>{{ entry.description|nl2br|safe }}</p>
      {% endif %}
    </div>
  </div>
{% endfor %}
{% endblock %}
