{% extends "layout.html" %}

{% block body %}

<p>Digestif converts your photostream into an email digest delivered to your
friends and family as frequently (or infrequently) as they decide.</p>

<p>To get started tell us your email address and whether you use Flickr or
Instagram. We'll generate a subscription form.</p>

<div class="narrow">
<form id="create" method="POST" action="{{ url_for("landing") }}">
{{ form.email(placeholder="Your email address", type="email", required="true") }}
<span service="flickr" class="service social inactive">&#62211;</span> <span service="instagram" class="service social inactive">&#62253;</span> <button class="action">Create</button>
{{ form.hidden_tag() }}
</form>
</div>
<script>
    $(".service").click(function () {
       $("#stream").attr("value", $(this).attr("service"));
       $(".service").removeClass("active").addClass("inactive");
       $(this).addClass("active").removeClass("inactive");
    });
</script>


{% endblock %}
