{% extends "layout.html" %}
{% block title %}Digestif{% endblock %}

{% block body %}

<p>Digestif converts your photostream into an email digest delivered to your
friends and family as frequently (or infrequently) as they decide.</p>

<p>To get started tell us your email address and whether you use Flickr or
Instagram. We'll generate a subscription form.</p>

<div class="narrow">
<form id="create" method="POST" action="{{ url_for("landing") }}">
{{ form.email(placeholder="Your email address", type="email", required="true") }}
<span data-toggle="tooltip" title="flickr" service="flickr" class="service social inactive">&#62211;</span> <span data-toggle="tooltip" title="Instagram" service="instagram" class="service social inactive">&#62253;</span> <button class="action">Create</button>
<div id="email-suggestion" style="display:none">
Did you mean <a class="suggested-email"></a>?
</div>
{{ form.hidden_tag() }}
</form>
</div>

<script>
    $(".service").tooltip();
    $(".service").click(function () {
       $("#stream").attr("value", $(this).attr("service"));
       $(".service").removeClass("active").addClass("inactive");
       $(this).addClass("active").removeClass("inactive");
    });
</script>

<script src="{{ url_for('static', filename="mailcheck.min.js", _external=True) }}"></script>

<script>
$('#email').on('blur', function() {
  $(this).mailcheck({
    suggested: function(element, suggestion) {     
      $('#email-suggestion a').html(suggestion.full);
      $('#email-suggestion').slideDown();
      $('#email-suggestion a').on('click', function() {
         $('#email').val(suggestion.full);
         $('#email-suggestion').slideUp();
      });
    },
    empty: function(element) {
       $('#email-suggestion').slideUp();
    }
  });
});
</script>


{% endblock %}
