<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Digestif</title>
  <link href="{{ url_for("static", filename="style.css", _external=True) }}" rel="stylesheet" />

  {% block head %}{% endblock %}
   
  <script src="{{ url_for('static', filename="jquery-1.9.1.min.js", _external=True) }}"></script>
  <script src="{{ url_for('static', filename="bootstrap-alert.js", _external=True) }}"></script>

</head>
<body>

<div id="sitewrap">
<div id="header">
<h1><a href="{{ url_for("landing", _external=True) }}">Digestif</a></h1>
</div>
<div id="content">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}


    {% for category, message in messages %}
<div class="alert alert-{{ category }}">
<button type="button" class="close" data-dismiss="alert">&times;</button>
{{ message }}
</div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
</div>
<div id="footnotes" class="center"><a href="/about">About</a></div>
</div>
</body>
</html>
