{% extends "layout.html" %}
{% block title %}Digestif // Subscribe to {{ stream|stream2name }}{% endblock %}

{% block body %}

<form id="subscribe" method="POST" action="{{ stream.subscribe_url() }}">
<div class="center"><a href="{{ stream.remote_url() }}">{{ stream|service2name }} photographs by {{ stream|stream2name }}</a><br /> should be delivered to<br/> {{ form.email(placeholder="email address", size="30", type="email", required="true", style="text-align: right") }}<br/>
<div id="email-suggestion" style="display:none">Did you mean <a class="suggested-email"></a>?<br/></div>
<span id="more" class="service inactive">&#8854;</span><input type="text" class="option" value="every day" readonly="true"><span id="less" class="service inactive">&oplus;</span><br/>when there are new photographs<br/><button class="action">Subscribe</button></div>
{{ form.hidden_tag() }}
</form>

<script>
   var options = ["daily", "every two days", "every three days", "weekly", "biweekly", "monthly", "never (unsubscribe)"];
   var values = [1, 2, 3, 7, 14, 30, 0];
   var index = 3;
   $(".option").ready(function () {
       $(".option").attr("value", options[index]);
       $("#frequency").attr("value", values[index]);
   });
   $("#more").click(function () {
       index = index + 1;
       if (index >= values.length) index = values.length - 1;
       $(".option").attr("value", options[index]);
       $("#frequency").attr("value", values[index]);
    });
    $("#less").click(function () {
       index = index - 1;
       if (index < 0) index = 0;
       $(".option").attr("value", options[index]);
       $("#frequency").attr("value", values[index]);
    });
</script>

<script src="{{ url_for('static', filename="mailcheck.min.js", _external=True) }}"></script>

<script>
$('#email').on('blur', function() {
  $(this).mailcheck({
    suggested: function(element, suggestion) {     
      $('#email-suggestion a').html(suggestion.full);
      $('#email-suggestion').slideDown();
      $('#email-suggestion a').on('click', function() {
         $('#email').val(suggestion.full);
         $('#email-suggestion').slideUp();
      });
    },
    empty: function(element) {
       $('#email-suggestion').slideUp();
    }
  });
});
</script>

{% endblock %}
