{% extends "layout.html" %}

{% block body %}

<form id="subscribe" method="POST" action="{{ stream.subscribe_url() }}">
<p class="center"><a href="{{ stream.remote_url() }}">Flickr photographs by {{ stream|stream2name }}</a><br /> should be delivered to<br/> {{ form.email(placeholder="email address", size="30", type="email", required="true", class="center") }}<br/> no more often than<br/> <span id="more" class="inactive">+</span> <input type="text" class="option" value="every day" readonly="true"> <span id="less" class="inactive">-</span><br/><button class="action">Subscribe</button></p> 
{{ form.hidden_tag() }}
</form>

<script>
   var options = ["never", "every day", "every two days", "every three days", "every week", "every two weeks"];
   var values = [0, 1, 2, 3, 7, 14];
   var index = 1;
   $(".option").ready(function () {
       $(".option").attr("value", options[index]);
       $("#frequency").attr("value", values[index]);
   });
   $("#more").click(function () {
       index = index + 1;
       if (index >= values.length) index = 0;
       $(".option").attr("value", options[index]);
       $("#frequency").attr("value", values[index]);
    });
    $("#less").click(function () {
       index = index - 1;
       if (index < 0) index = values.length - 1;
       $(".option").attr("value", options[index]);
       $("#frequency").attr("value", values[index]);
    });
</script>

{% endblock %}
