html, body, div, span, ol, ul, li, lh {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    background: url('http://michelleandjames.net/textureback.jpg') #000;
    color: #222;
    line-height: 1.6;
    font-family: 'Lusitana', Georgia, serif;
    font-size: 100%;
    text-align: center;
}

a, a:link, a:visited, a:hover {
    color: #0052A3;
}

a:hover {
    text-decoration: underline;
}

h1 a:hover {
    text-decoration: none;
}


h1 {
    margin: 0.5em 0 0 0;
    font-size: 320%;
    padding: 0.4em 0 0 0; 
    text-shadow: none;
	line-height: 1.2em;
}

h2 {
    margin: 0;
    font-weight: normal;
    text-shadow: none;
    font-size: 140%;
}

h1 + h2 {
     margin-top: 0em; 
}

h3 {
    padding-top: 0.5em;
    font-size: 130%;
}

#sitewrap {
    background: #fff;
    width: 800px;
    margin: 0 auto;
    padding: 0 60px;
}

#content {
    text-align: left;
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid #333;
}

#footnotes {
	margin-top: 3em;
    padding-top: 1em;
    border-top: 1px solid #333;
    font-size: 110%;
    padding-bottom: 3em;
    margin-bottom: 2em;
}

.image {
    text-align: center;
}

.image img {
    padding: 3px;
    /*min-height: 375px;*/
    /*width: 500px;*/
    cursor: pointer;
    background: #dfdfdf;
    -webkit-box-shadow: 3px 4px 8px #111;
    -moz-box-shadow: 3px 4px 8px #111;
    box-shadow: 3px 4px 8px #111;
}

.image img {
    margin-bottom: 1em;
}

p { font-size: 120%; }

p.caption {
    font-size: 90%;
    margin-top: 4px;
    margin-bottom: 2em;
    margin-left: 6px;
    line-height: 1.1em;
}

